<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>addNewDeviceAnimation00</string>
	<string>addNewDeviceAnimation01</string>
	<string>addNewDeviceAnimation02</string>
	<string>addNewDeviceAnimation03</string>
</array>
</plist>
